// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

body {
font-family: 'Open Sans', sans-serif;
color: #141414;
font-size: 14px;
line-height: 1.4em;
}
h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
}
h2 {
font-size: 1.5em;
}
.blue-bg {
background: #469AE0;
color: white;
}
.padded {
padding:30px;
}
p{
font-weight: 100;
margin: 0 0 20px;
}