#banner {
background-image: url(../images/background.jpg);
color: white;
padding: 150px 0;
background-size: cover;
height: 650px;
}
.padded {
padding:30px;
}
#banner p {
font-size: 25px;
font-weight: 100;
line-height: 1.4em;
}